# Copia in .env e compila i valori

# Pi-hole
PIHOLE_PASSWORD=cambia_questa_password

# WireGuard
WG_SERVER_URL=auto          # oppure il tuo IP pubblico / dominio DuckDNS
WG_PEERS=3                  # numero di dispositivi client

# DuckDNS
DUCKDNS_SUBDOMAIN=lorenzo40-home   # solo il nome, senza .duckdns.org
DUCKDNS_TOKEN=incolla_qui_il_token  # token dalla pagina duckdns.org
