# Copia in .env e compila i valori

# Pi-hole
PIHOLE_PASSWORD=cambia_questa_password

# Speedtest Tracker (genera con: openssl rand -base64 32 | tr -d '/+=' | cut -c1-32 | sed 's/^/base64:/')
SPEEDTEST_APP_KEY=base64:cambia_questa_chiave
